@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	text-align: center;
	font-family: "Rubik", sans-serif;
}
.templates {
	background: #666;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 4rem;
}
.template-img {
	max-width: 80%;
}
.meme-card {
	max-width: 80%;
	display: flex;
	margin: 4rem auto;
	background-color: yellowgreen;
}
.meme-img {
	max-width: 30%;
	margin: 4rem;
}
/* 
.meme-img {
	border: 1px solid;
	max-width: 60%;
}
.meme-form {
	margin: 2rem;
}
.meme-form-input {
	margin: 0 1rem;
	padding: 1rem;
	font-family: monospace;
}
.submit-btn:hover,
.submit-btn:focus {
	background-color: #555;
}
.submit-btn {
	border: none;
	padding: 1rem 2rem;
	font-family: monospace;
	text-align: center;
	display: block;
	margin: 1rem auto;
} */
